<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Supplier</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <h1>Add Supplier</h1>
            <form th:action="@{/supplier/add}" method="POST">
                <div class="form-group">
                    <label for="name">Name supplier :</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name obat" required>
                </div>
                
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" id="address" name="address" placeholder="Enter Address" rows="3"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter phone" required>
                </div>
                
                <button type="submit" class="btn btn-danger">Save Supplier</button>
                <a th:href="@{/supplier}" class="btn btn-danger">Back To Supplier List</a>
            </form>
        </div>
    </body>
</html>