<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Obat</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <h1>Add Obat</h1>
            <form th:action="@{/obat/add}" method="POST">
                <div class="form-group">
                    <label for="namaObat">Name Obat:</label>
                    <input type="text" class="form-control" id="namaObat" name="namaObat" placeholder="Enter name obat" required>
                </div>
                
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
                </div>
                
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Enter description" rows="3"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
                <a th:href="@{/}" class="btn btn-danger">Back To List</a>
            </form>
        </div>
    </body>
</html>