<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h1>List Obat</h1>
                <a th:href="@{/obat/add}" class="btn btn-primary">Add New Obat</a>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Supplier Name</th>
                        <th>Supplier Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="obat : ${obats}">
                        <td th:text="${obat.id}"></td>
                        <td th:text="${obat.namaObat}"></td>
                        <td th:text="${obat.price}"></td>
                        <td th:text="${obat.description}"></td>
                        <td th:text="${obat.category != null ? obat.category.name : '-'}"></td>
                        <td th:text="${obat.supplier != null ? obat.supplier.name : '-'}"></td>
                        <td th:text="${obat.supplier != null ? obat.supplier.phone : '-'}"></td>
                        <td>
                            <a th:href="@{/obat/edit/{id}(id=${obat.id})}" class="btn btn-danger">Edit</a>
                            <a th:href="@{/obat/delete/{id}(id=${obat.id})}" class="btn btn-danger" 
                               onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button>
                <a th:href="@{/supplier}" class="btn btn-danger">List Supplier</a>
            </button>
            <button>
                <a th:href="@{/category}" class="btn btn-danger">List Category</a>
            </button>
        </div>
    </body>
</html>